html {
		overflow-x: hidden;
    word-wrap:break-word;
		font-family: "arial";
}

#MainBody {
	overflow-y: auto;
}

#container {
	border: 3px solid black;
	border-radius: 5px;
	background-color: #c1e8f2;
}

#content {
	top: 100;
	text-align: left;
	width: 100%;
	float: left;
	color: black;
	text-indent: 50px;
}

#date {
	color: white;
	display: block;
	float: right;
	margin-top: 1px;
  color: red;
  text-align: right;
	border-radius: 3px;
	display: inline-block;
	padding-bottom: 0;
	text-decoration: underline;
	font-weight: bold;
}

table {
	width: 100%;
	padding: 0;
}

tr {
	padding: 0;
}
