.meeting {
}

.date, .topic, .time {
	color: white;
	background-color: purple;
	font-weight: bold;
}

#content {
	text-align: left;
	float: center;
	width: 50%;
	border-radius: 3px;
	border: 1px solid black;
	background-color: #d7dde5;
  margin: 0 auto;
	max-width: 50%;
	height: 95%;

}

#content:empty
{
	display: none;
}

#container {
	margin: auto;
}


#MainHeader {
	border-radius: 5px;
}

#MainBody {
	background-color: white;
	border-radius: 10px;
	position: relative;
  margin: 0 auto;
  height: 780px;
	padding-top: 1%;
	padding-bottom: 2%;
	overflow-x: hidden;
	overflow-y: scroll;
}


html {
		overflow-x: hidden;
		font-family: "arial";
}

#chris, #taylor, #charles, #sam {
	width: 5%;
	padding: 5px;
	border-radius: 8px;
	background-color: blue;
	color: white;
	border: 2px;
}

td {
	border: 2px blue;
	border-radius: 3px;
	text-align: center;
	width: 10%;
	background-color: #d7dde5;
	text-emphasis-style: double-circle;
	font-size: 25px;
}

td:empty {
	border: white;
	background: white;
}

button:hover {
	background-color: #a890f0;
	color: white;
}

button:focus {
	outline: 0;
}

p {
	font-family: "arial";
	font-size: 20px;
}

body {
	background-color: #0033A0;
}

h1 {
	color: white;
	font-family: "arial";
}

a {
	font-family: "arial";
	font-size: 20px;
	padding: 5%;
	text-decoration: none;
	color: white;
}.email {
	color: blue;
	display: inline;
	padding: 0px;
}

ul {
	list-style-type: none;
	font-size: 20px;
}
